@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

@import "tailwindcss";


@theme {
  @keyframes pulse-slow {
      0%, 100% { opacity: 0.6; transform: scale(1); }
      50% { opacity: 1; transform: scale(1.05); }
    }
  
  --animate-pulse-slow : pulse-slow 6s ease-in-out infinite;
  
  --font-arabic:"Amiri", serif;

<<<<<<< HEAD
}





=======
>>>>>>> parent of 7603bfe (Merge pull request #3 from perparoy/main)
